<!DOCTYPE html>
<html>
  <head>
    <title>Bitcoin RPC</title>
    <style>
      body {
        background-color: whitesmoke;
        margin: 0;
      }
      .nav {
        float: left;
        padding: 16px;
      }
      .content {
        padding: 16px;
      }
      h2:first-child {
        margin-top: 0;
      }
      .header {
        background-color: #FF9500;
        color: white;
        padding: 16px;
      }
      table {
        border-collapse: collapse;
      }
      td, th {
        border: 1px solid #ddd;
        padding: 4px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <h1>Bitcoin RPC</h1>
    </div>
    <div class="nav">{{!nav}}</div>
    <div class="content">{{!content}}</div>
  </body>
</html>
